@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --page-width: 1170px;

  --basic-extra-dark: #2d3440;
  --basic-extra-dark-01: rgba(45, 52, 64, 0.1);
  --basic-extra-dark-012: rgba(45, 52, 64, 0.12);
  --basic-extra-dark-03: rgba(45, 52, 64, 0.3);
  --basic-extra-dark-05: rgba(45, 52, 64, 0.5);
  --basic-dark: #565c66;;
  --basic-neutral: #b9b9b9;
  --basic-light: #e7e7e7;
  --basic-extra-light: #fcfcfc;
  --basic-extra-light-03: rgba(252, 252, 252, 0.3);
  --basic-extra-light-04: rgba(252, 252, 252, 0.4);
  --basic-extra-light-05: rgba(252, 252, 252, 0.5);
  --basic-white: #ffffff;

  --special-extra-bright: #ff2f64;
  --special-bright: #ff4a78;
  --special-neutral: #ff7799;
  --special-light: #feafc3;
  --special-exta-light: #ffcbd8;
  --special-blue: #69a9ff;
  --special-yellow: #fcc850;

  --status-error: #ea5454;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1366px;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--special-light);
}

.page-background-strawberry {
  background-color: var(--special-light);
}

.page-background-banana {
  background-color: var(--special-blue);
}

.page-background-marshmallow {
  background-color: var(--special-yellow);
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 12px 32px;
  font-family: inherit;
  line-height: 20px;
  text-align: center;
  color: var(--basic-extra-dark);
  border: none;
  outline: none;
  outline-offset: 0;
  text-decoration: none;
  cursor: pointer;
}

.button-navigation {
  padding: 8px 16px;
  border-radius: 30px;
}

.button-user {
  position: relative;
  display: block;
  min-width: 16px;
  min-height: 16px;
  padding: 6px 16px 6px 38px;
  font-size: 14px;
  background-color: var(--basic-extra-light-03);
  border-radius: 30px;
}

.button-user-search {
  width: 32px;
  height: 32px;
  padding: 0;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--basic-extra-dark);
}

.button-user-current .navigation-icon {
  fill: var(--basic-extra-light);
}

.button-user-login .navigation-icon,
.button-user-basket .navigation-icon {
  right: auto;
  left: 16px;
}

.button-navigation-current,
.button-user-current {
  color: var(--basic-extra-light);
  background-color: var(--special-bright);
}

.button-navigation:not(.button-navigation-current):hover,
.button-user:not(.button-user-current):hover {
  background-color: var(--basic-extra-light-05);
}

.button-navigation:not(.button-navigation-current):focus,
.button-user:not(.button-user-current):focus {
  background-color: var(--basic-extra-light-05);
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
}

.button-navigation:not(.button-navigation-current):active,
.button-user:not(.button-user-current):active {
  background-color: var(--basic-extra-light);
}

.button-social {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 2px solid var(--basic-extra-light-03);
  border-radius: 50%;
  background-clip: padding-box;
  box-shadow: inset 0 0 0 1px var(--basic-extra-light);
}

.button-social:hover {
  background-color: var(--basic-extra-dark);
}

.button-social:focus {
  background-color: var(--basic-extra-dark);
  border: 2px solid var(--basic-extra-dark);
}

.button-social:active {
  background-color: var(--basic-extra-dark);
  opacity: 0.5;
}

.social-icon {
  fill: var(--basic-extra-light);
}

.button-main {
  margin-left: -2px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--basic-extra-light);
  border: 4px solid var(--basic-extra-light-04);
  box-shadow: 0 4px 12px var(--basic-extra-dark-01);
  background-clip: padding-box;
  border-radius: 26px;
}

.button-main:hover {
  background-color: var(--basic-extra-light-04);
  border: 4px solid var(--basic-extra-light);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button-main:focus {
  padding: 14px 34px;
  background-color: var(--basic-extra-light-05);
  border: 2px solid var(--basic-extra-dark);
  box-shadow: 0 4px 12px var(--basic-extra-dark-01);
}

.button-main:active {
  padding: 14px 34px;
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-extra-dark);
  box-shadow: 0 4px 12px var(--basic-extra-dark-01);
}

.button-main:disabled,
.button-main[disabled] {
  font-weight: 400;
  color: var(--basic-neutral);
  background-color: var(--basic-light);
  border: 4px solid var(--basic-extra-light-04);
  box-shadow: none;
  pointer-events: none;
}

.button-main.loading {
  position: relative;
  padding-right: 56px;
  pointer-events: none;
}

.button-main.loading::before {
  content: "";
  position: absolute;
  top: 0;
  right: 32px;
  bottom: 0;
  margin: auto 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 2px solid #242424;
  border-radius: 50%;
  opacity: 0.24;
}

.button-main.loading::after {
  content: "";
  position: absolute;
  top: 0;
  right: 32px;
  bottom: 0;
  margin: auto 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 2px solid #242424;
  border-color: #242424 transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.button-additional {
  font-size: 16px;
  font-weight: 700;
  color: var(--basic-extra-light);
  background-color: var(--special-extra-bright);
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px var(--basic-extra-dark-01);
  background-clip: padding-box;
  border-radius: 26px;
}

.button-additional:hover {
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light-03);
  border: 4px solid var(--special-extra-bright);
  box-shadow: none;
}

.button-additional:focus {
  padding: 14px 34px;
  color: var(--basic-extra-light);
  background-color: var(--special-extra-bright);
  border: 2px solid var(--basic-extra-dark);
  box-shadow: 0 4px 12px var(--basic-extra-dark-01);
}

.button-additional:active {
  padding: 14px 34px;
  color: var(--basic-extra-light);
  background-color: var(--special-light);
  border: 2px solid var(--basic-extra-dark);
  box-shadow: 0 4px 12px var(--basic-extra-dark-01);
}

.button-additional:disabled,
.button-additional[disabled] {
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-neutral);
  border: 4px solid rgba(185, 185, 185, 0.3);
  box-shadow: none;
  pointer-events: none;
}

.button-additional.loading {
  position: relative;
  padding-right: 56px;
  pointer-events: none;
}

.button-additional.loading::before {
  content: "";
  position: absolute;
  top: 0;
  right: 32px;
  bottom: 0;
  margin: auto 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 2px solid var(--basic-extra-light);
  border-radius: 50%;
  opacity: 0.25;
}

.button-additional.loading::after {
  content: "";
  position: absolute;
  top: 0;
  right: 32px;
  bottom: 0;
  margin: auto 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 2px solid var(--basic-extra-light);
  border-color: var(--basic-extra-light) transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.button-basket {
  display: block;
  width: 32px;
  height: 32px;
  padding: 8px;
  background-color: var(--special-extra-bright);
  border-radius: 26px;
}

.button-basket:hover {
  background-color: var(--basic-extra-light-03);
  box-shadow: inset 0 0 0 2px var(--special-extra-bright);
}

.button-basket:focus {
  background-color: var(--special-extra-bright);
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
}

.button-basket:active {
  background-color: var(--special-exta-light);
  box-shadow: inset 0 0 0 2px var(--special-extra-bright);
}

.button-basket:disabled {
  background-color: var(--basic-neutral);
  box-shadow: none;
  pointer-events: none;
}

.basket-icon,
.button-basket:focus .basket-icon {
  fill: var(--basic-extra-light);
}

.button-basket:hover .basket-icon,
.button-basket:active .basket-icon {
  fill: var(--basic-extra-dark);
}

.button-basket:disabled .basket-icon {
  fill: var(--basic-dark);
}

.catalog-filter-button {
  align-self: flex-start;
  margin-top: 28px;
  margin-left: -7px;
  padding: 10px 53px;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--basic-extra-light-03);
  box-shadow: inset 0 0 0 2px var(--basic-extra-light);
  border-radius: 20px;
}

.catalog-filter-button:hover {
  background-color: var(--basic-extra-light);
  box-shadow: inset 0 0 0 2px var(--basic-extra-light-03);
}

.catalog-filter-button:focus {
  background-color: var(--basic-extra-light-03);
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
}

.catalog-filter-button:active {
  background-color: var(--basic-extra-light-05);
  box-shadow: none;
}

.catalog-filter-button:disabled {
  background-color: var(--basic-extra-light-03);
  box-shadow: inset 0 0 0 2px var(--basic-extra-light);
  opacity: 0.4;
  pointer-events: none;
}

/* Header */

.header-navigation {
  display: flex;
  width: var(--page-width);
  margin: 0 auto;
  box-sizing: border-box;
}

.gllacy-logo-link {
  margin: 24px 16px 24px 0;
}

.gllacy-logo-link:hover {
  opacity: 0.6;
}

.gllacy-logo-link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 6px;
  border-radius: 15px;
}

.gllacy-logo-link:active {
  opacity: 0.3;
}

.gllacy-logo {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 520px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.header-contacts {
  margin: auto;
  margin-right: 0;
}

.header-contacts-phone {
  font-style: normal;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.header-contacts-phone:hover {
  opacity: 0.6;
}

.header-contacts-phone:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 6px;
  border-radius: 15px;
}

.header-contacts-phone:active {
  opacity: 0.3;
}

.navigation-user {
  display: flex;
  gap: 8px 16px;
  flex-wrap: wrap;
  align-items: center;
  max-width: 300px;
  margin: 0;
  margin-left: 18px;
  padding: 0;
  list-style-type: none;
}

/* Main index */

.main-container {
  flex-grow: 1;
  padding-top: 21px;
}

.page-container {
  width: var(--page-width);
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slider-elements-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-elements-item {
  display: flex;
  margin-top: 10px;
  margin-right: 50px;
}

.slider-elements-item:last-child {
  margin-right: 0;
}

.slider-elements-item-current {
  margin-top: 0;
  margin-right: 62px;
  padding-left: 70px;
}

.slider-container {
  display: none;
  width: 470px;
  margin-right: 22px;
}

.slider-elements-item-current .slider-container {
  display: block;
}

.slider-title {
  margin-top: 115px;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  color: var(--basic-extra-dark);
}

.slider-description {
  margin-top: 0;
  margin-bottom: 44px;
  padding-right: 50px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.slider-image-container {
  position: relative;
  align-self: center;
}

.slider-elements-item-current .slider-image-container {
  width: 306px;
}

.slider-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: var(--special-exta-light);
  opacity: 0.4;
  border-radius: 50%;
  z-index: -1;
}

.slider-elements-item-current .slider-image-container::before {
  width: 312px;
  height: 312px;
  opacity: 1;
}

.slider-image {
  display: block;
  width: 100px;
  height: 150px;
  opacity: 0.4;
}

.slider-elements-item-current .slider-image {
  width: 306px;
  height: 507px;
  opacity: 1;
}

.slider-controls {
  position: absolute;
  top: 237px;
  left: 544px;
  display: flex;
  justify-content: space-between;
  width: 348px;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--basic-extra-light-03);
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: inset 0 0 0 2px var(--basic-extra-light);
  cursor: pointer;
}

.slider-button:hover {
  background-color: var(--basic-extra-light);
  box-shadow: none;
}

.slider-button:focus {
  background-color: var(--basic-extra-light-03);
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
}

.slider-button:active {
  background-color: var(--basic-extra-light-05);
  box-shadow: none;
}

.slider-button:disabled {
  background-color: var(--basic-extra-light-03);
  box-shadow: inset 0 0 0 2px var(--basic-extra-light);
  opacity: 0.4;
  pointer-events: none;
}

.slider-button .arrow-icon {
  padding-right: 2px;
  fill: var(--basic-extra-light);
}

.slider-next .arrow-icon {
  transform: rotate(180deg);
}

.slider-button:hover .arrow-icon,
.slider-button:focus .arrow-icon,
.slider-button:active .arrow-icon {
  fill: var(--basic-extra-dark);
}

.slider-button:disabled .arrow-icon {
  fill: var(--basic-extra-light);
}

.slider-pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 84px;
}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-extra-light-03);
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:not(.slider-pagination-button-current):hover {
  background-color: var(--basic-extra-light-03);
  box-shadow: inset 0 0 0 1px var(--basic-extra-light);
}

.slider-pagination-button:not(.slider-pagination-button-current):focus {
  background-color: var(--basic-extra-light-03);
  box-shadow: inset 0 0 0 1px var(--basic-extra-dark);
}

.slider-pagination-button:not(.slider-pagination-button-current):active {
  background-color: var(--basic-extra-light-03);
  box-shadow: none;
}

.slider-pagination-button-current {
  background-color: var(--basic-extra-light);
  pointer-events: none;
}

.social-list {
  display: flex;
  gap: 12px 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  width: 24px;
  height: 24px;
}

.presents-title {
  max-width: 630px;
  margin: 0 auto 55px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  color: var(--basic-extra-dark);
}

.presents-list {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.presents-item {
  box-sizing: border-box;
  min-height: 268px;
  padding: 36px 217px 32px 36px;
  background-color: var(--special-neutral);
  background-repeat: no-repeat;
  background-size: 219px 268px;
  background-position: right -1px bottom 2px;
  border-radius: 16px;
}

.presents-item.raspberry {
  background-image: url("../images/index/raspberry-in-a-cone.png");
}

.presents-item.marshmallow {
  background-image: url("../images/index/marshmallow-in-a-cone.png");
}

.presents-subtitle {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-extra-dark);
}

.presents-description {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-dark);
}

.popular-products-title {
  max-width: 630px;
  margin: 0 auto 107px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  color: var(--basic-extra-dark);
}

.popular-products-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 92px 30px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 40px 24px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.product-title-link {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
}

.product-title-link:hover {
  opacity: 0.6;
}

.product-title-link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 6px;
  border-radius: 15px;
}

.product-title-link:active {
  opacity: 0.3;
}

.product-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-extra-dark);
}

.product-image-link {
  display: block;
  order: -1;
  margin: -52px auto 16px;
  text-decoration: none;
  filter: drop-shadow(0 4px 12px var(--basic-extra-dark-01));
}

.product-image-link:hover {
  opacity: 0.6;
}

.product-image-link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 6px;
  border-radius: 15px;
}

.product-image-link:active {
  opacity: 0.3;
}

.product-image {
  display: block;
  max-width: 168px;
  height: 168px;
  border-radius: 50%;
}

.product-description {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.product-price {
  align-self: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-extra-dark);
  word-spacing: 2px;
}

.about {
  margin-bottom: 81px;
  padding: 24px;
  background-image: url("../images/index/waffle.png");
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.about-container {
  padding: 56px 40px;
  background-color: var(--basic-white);
  border-radius: 16px;
}

.about-title {
  margin: 0;
  margin-bottom: 56px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  color: var(--basic-extra-dark);
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 31px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-item {
  position: relative;
  padding-left: 64px;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid var(--basic-extra-dark);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
}

.about-ice-cream::before {
  background-image: url("../images/icons/ice-cream.svg");
}

.about-cow::before {
  background-image: url("../images/icons/cow.svg");
}

.about-leaf::before {
  background-image: url("../images/icons/leaf.svg");
}

.about-thermometer::before {
  background-image: url("../images/icons/thermometer.svg");
}

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
  margin-bottom: 80px;
}

.blog {
  box-sizing: border-box;
  width: 570px;
  padding: 32px 235px 32px 32px;
  background-image: url("../images/index/sherbet-serving.jpg");
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.blog-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 20px;
}

.blog-subtitle {
  display: block;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.blog-subtitle:hover {
  opacity: 0.6;
}

.blog-subtitle:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 6px;
  border-radius: 15px;
}

.blog-subtitle:active {
  opacity: 0.3;
}

.newsletter {
  box-sizing: border-box;
  width: 570px;
  padding: 6px;
  background-image: url("../images/index/newsletter-background-image.png");
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.newsletter-container {
  padding: 26px;
  background-color: var(--basic-white);
  border-radius: 16px;
}

.newsletter-text {
  margin: 0;
  margin-bottom: 40px;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 332px 160px;
  gap: 15px;
}

.field,
.field:invalid:placeholder-shown {
  padding: 14px 16px;
  font-family: inherit;
  font-size: 16px;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px var(--basic-neutral);
}

.field:hover,
.field:hover:invalid:placeholder-shown {
  box-shadow: inset 0 0 0 1px var(--basic-extra-dark);
}

.field:focus,
.field:focus:invalid:placeholder-shown {
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
}

.field:disabled {
  background-color: var(--basic-light);
  box-shadow: inset 0 0 0 1px var(--basic-neutral);
}

.field:disabled:hover {
  background-color: var(--basic-light);
  box-shadow: inset 0 0 0 1px var(--basic-neutral);
}

.field:invalid {
  box-shadow: inset 0 0 0 1px var(--status-error);
}

.field:invalid:hover {
  box-shadow: inset 0 0 0 2px var(--status-error);
}

.field::placeholder {
  font-size: 16px;
  color: var(--basic-neutral);
}

.field:disabled::placeholder {
  color: var(--basic-extra-dark);
  opacity: 0.65;
}

.field:disabled:hover::placeholder {
  opacity: 1;
}

.delivery {
  display: flex;
  margin-bottom: 78px;
  padding: 65px 64px 64px 100px;
  background-image: url("../images/index/delivery-background-image.jpg");
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.delivery-description-container {
  padding-right: 135px;
}

.delivery-title {
  margin: 104px 0 24px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: var(--basic-extra-dark);
}

.delivery-description {
  margin: 0;
}

.delivery-form-container {
  margin-left: auto;
  padding: 40px 40px 36px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: 0 15px 40px var(--basic-extra-dark-012);
}

.delivery-form-description {
  margin: 0;
  margin-bottom: 34px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form-label {
  margin-bottom: 8px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-extra-dark);
}

.form-label-icon {
  position: relative;
  padding-right: 14px;
}

.tooltip {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  margin-left: 4px;
}

.tooltip-toggle {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--basic-extra-dark);
}

.tooltip-toggle:hover .tooltip-icon,
.tooltip-toggle:focus .tooltip-icon {
  fill: var(--basic-dark);
}

.tooltip-text {
  position: absolute;
  top: -12px;
  left: 100%;
  display: none;
  width: 160px;
  margin-left: 9px;
  padding: 10px 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-extra-light);
  border: 1px solid var(--basic-neutral);
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.2);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -5px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-extra-light);
  border: 1px solid var(--basic-neutral);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  transform: rotate(45deg);
}

.delivery-address {
  grid-column: 1 / -1;
}

.delivery-form .button {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 8px;
  margin-left: 4px;
}

.contacts {
  padding: 64px 762px 64px 64px;
  background-image: url("../images/index/address-background-image.jpg");
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  border-radius: 16px;
}

.contacts-container {
  padding: 42px 40px 38px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: 0 8px 16px var(--basic-extra-dark-012);
}

.contacts-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
}

.contacts-address-text {
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-extra-dark);
}

.contacts-phone {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.contacts-phone:hover {
  opacity: 0.6;
}

.contacts-phone:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 4px;
  border-radius: 15px;
}

.contacts-phone:active {
  opacity: 0.3;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 20px;
}

.contacts-container .button {
  margin-left: -2px;
}

/* Footer */

.page-footer {
  display: flex;
  width: var(--page-width);
  margin: 0 auto;
  padding: 42px 0 44px;
}

.social {
  margin-right: 302px;
  margin-left: 2px;
}

.social-list.footer-social {
  flex-wrap: wrap;
  width: 104px;
}

.footer-navigation {
  margin-top: 2px;
}

.navigation-list.navigation-footer {
  width: auto;
}

.footer-navigation .navigation-list {
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 8px;
  width: 500px;
}

.footer-navigation .navigation-item {
  max-width: 250px;
}

.footer-navigation .navigation-link {
  display: block;
  padding-left: 24px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.footer-navigation .navigation-link:hover {
  opacity: 0.6;
}

.footer-navigation .navigation-link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 2px;
  border-radius: 15px;
}

.footer-navigation .navigation-link:active {
  opacity: 0.3;
}

.navigation-strong {
  font-weight: 700;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left;
}

.htmlacademy {
  width: 206px;
  margin-top: 2px;
  margin-left: auto;
}

.htmlacademy-logo-link {
  display: block;
  width: 93px;
}

.htmlacademy-logo-link:hover {
  opacity: 0.6;
}

.htmlacademy-logo-link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 4px;
  border-radius: 15px;
}

.htmlacademy-logo-link:active {
  opacity: 0.3;
}

.htmlacademy-logo {
  display: block;
}

.about-htmlacademy-text {
  margin: 0;
  margin-top: 14px;
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-extra-dark);
}

.htmlacademy-link {
  position: relative;
  color: var(--basic-extra-dark);
  text-decoration: none;
  border-bottom: 1px solid var(--basic-extra-dark-05);
}

.htmlacademy-link:hover {
  opacity: 0.6;
}

.htmlacademy-link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 4px;
  border-radius: 15px;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

/* Main catalog */

.main-catalog {
  position: relative;
  padding-top: 32px;
  padding-bottom: 42px;
}

.main-catalog .page-container::after {
  content: "";
  position: absolute;
  bottom: 7px;
  width: var(--page-width);
  height: 1px;
  background-color: var(--basic-extra-light-03);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 28px;
}

.breadcrumbs-item::after {
  content: "";
  width: 8px;
  height: 6px;
  position: absolute;
  top: 9px;
  right: 10px;
  background-image: url("../images/icons/breadcrumbs-arrows.svg");
  background-repeat: no-repeat;
  background-size: 8px 6px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-extra-dark);
  outline: none;
  text-decoration: none;
  background-color: var(--special-light);
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 4px;
  border-radius: 15px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid var(--basic-extra-dark);
  pointer-events: none;
}

.catalog-products-title {
  margin: 0;
  margin-bottom: 38px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: var(--basic-extra-dark);
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 84px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  margin: 0 24px 12px 0;
  padding: 0;
  border: none;
}

.catalog-filter-group.range {
  display: block;
}

.catalog-filter-title {
  float: left;
  margin: 0 -5px 8px 16px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.select-control {
  width: 100%;
  padding: 8px 63px 8px 16px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light-03);
  border: none;
  outline: none;
  border-radius: 20px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover {
  background-color: var(--basic-extra-light-05);
}

.select-control:focus {
  background-color: var(--basic-extra-light-04);
  box-shadow: inset 0 0 0 1px var(--basic-extra-light);
  border: none;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 8px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  color: var(--basic-extra-dark);
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.range-input:hover {
  opacity: 0.6;
}

.range-input:focus {
  outline: 2px solid var(--basic-extra-dark);
  border-radius: 5px;
}

.range-input:active {
  opacity: 0.3;
}

.range-scale-wrapper {
  padding: 17px 16px;
  background-color: var(--basic-extra-light-03);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: var(--basic-dark);
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--basic-extra-dark);
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: var(--basic-extra-light);
}

.range-toggle:focus {
  background-color: var(--basic-extra-light);
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
}

.range-toggle:active {
  background-color: var(--basic-extra-dark);
}

.range-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 4px;
  margin: auto;
  background-color: var(--basic-extra-light);
  border-radius: 50%;
}

.range-toggle:hover::before,
.range-toggle:focus::before,
.range-toggle:active::before {
  background-color: var(--basic-extra-dark);
}

.toggle-min {
  top: -8px;
  left: -8px;
}

.toggle-max {
  top: -8px;
  right: -8px;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 9px 17px;
  margin: 0;
  padding: 10px 24px;
  background-color: var(--basic-extra-light-03);
  border-radius: 20px;
  list-style-type: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1.33px solid var(--basic-extra-dark);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="checkbox"] + .control-mark {
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  display: none;
}

.control:hover .control-input:enabled + .control-mark,
.control-input:focus:enabled + .control-mark {
  border-color: var(--basic-extra-light);
}

.control-input:disabled + .control-mark {
  border-color: var(--basic-extra-dark-05);
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 6px;
  height: 6px;
  margin: auto;
  background-color: var(--basic-extra-dark);
  border-radius: 50%;
}

.control:hover .control-input[type="radio"]:checked:enabled + .control-mark::before,
.control-input[type="radio"]:focus:checked:enabled + .control-mark::before {
  background-color: var(--basic-extra-light);
}

.control-input[type="radio"]:checked:disabled + .control-mark::before {
  background-color: var(--basic-extra-dark-05);
}

.check-icon {
  position: absolute;
  top: 2px;
  left: 0;
  display: none;
  width: 16px;
  height: 16px;
}

.control-input[type="checkbox"]:checked ~ .check-icon {
  display: inline;
  fill: var(--basic-extra-dark);
}

.control:hover .control-input[type="checkbox"]:checked:enabled ~ .check-icon,
.control-input[type="checkbox"]:focus:checked:enabled ~ .check-icon {
  fill: var(--basic-extra-light);
}

.control-input[type="checkbox"]:checked:disabled ~ .check-icon {
  fill: var(--basic-extra-dark-05);
}

.control-input:enabled ~ .control-mark,
.control-input:enabled ~ .check-icon,
.control-input:enabled ~ .control-label {
  cursor: pointer;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 92px 30px;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  list-style-type: none;
}

.pagination-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 41px 0;
}

.pagination-container::before {
  content: "";
}

.pagination-container .button {
  justify-self: center;
  margin-right: 16px;
  margin-left: 0;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 390px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.pagination .arrow-icon {
  fill: var(--basic-extra-dark);
}

.pagination-next .arrow-icon {
  transform: rotate(180deg);
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 24px;
  min-height: 24px;
  padding: 2px 7px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  outline: none;
  text-decoration: none;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
}

.pagination-link:not(.pagination-current):hover {
  background-color: var(--basic-extra-light-05);
}

.pagination-link:not(.pagination-current):focus {
  background-color: var(--basic-extra-light-05);
  box-shadow: inset 0 0 0 1px var(--basic-extra-dark);
}

.pagination-link:not(.pagination-current):active {
  background-color: var(--basic-extra-light-05);
  box-shadow: inset 0 0 0 1px var(--basic-extra-light);
}

.pagination-prev {
  padding-left: 0;
}

.pagination-next {
  padding-right: 0;
}

.pagination-current {
  background-color: var(--basic-extra-light);
  pointer-events: none;
}

/* Popover */

.popover {
  position: absolute;
  top: 40px;
  z-index: 1;
  display: none;
  padding: 48px;
  box-sizing: border-box;
  background-color: var(--basic-extra-light);
  border-radius: 4px;
  filter: drop-shadow(0 15px 40px var(--basic-extra-dark-012));
}

.popover-open {
  display: block;
}

.popover-content {
  height: 100%;
}

.popover-title {
  margin: 0;
  margin-bottom: 32px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.navigation-list .popover {
  left: 0;
}

.navigation-user .popover {
  right: 0;
}

/* Popover basket */

.popover-basket {
  width: 441px;
  min-height: 156px;
}

.basket-items-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.basket-item {
  display: grid;
  grid-template-columns: 307px 22px;
  gap: 20px;
  align-items: center;
}

.basket-item + .basket-item {
  margin-top: 22px;
}

.basket-item-link {
  display: grid;
  grid-template-columns: 46px 148px 81px;
  gap: 16px;
  align-items: center;
  text-decoration: none;
}

.basket-item-link:hover {
  opacity: 0.6;
}

.basket-item-link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 4px;
  border-radius: 5px;
}

.basket-item-link:active {
  opacity: 0.3;
}

.basket-item-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.basket-item-title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  color: var(--basic-extra-dark);
}

.basket-item-quantity,
.basket-item-price {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-neutral);
}

.basket-item-amount {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--basic-extra-dark);
}

.basket-item-delete-button {
  padding: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.basket-item-delete-button:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 4px;
  border-radius: 5px;
}

.basket-item-delete-button .cross-icon {
  display: block;
  fill: var(--basic-extra-dark);
}

.basket-item-delete-button:hover .cross-icon,
.basket-item-delete-button:focus .cross-icon {
  fill: var(--basic-dark);
}

.basket-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
}

.basket-wrapper::before {
  content: "";
  position: absolute;
  top: -32px;
  width: 345px;
  height: 1px;
  background-color: var(--basic-light);
}

.basket-wrapper .button {
  margin-left: -4px;
}

.basket-items-total {
  margin: 0;
  margin-right: 4px;
  font-size: 18px;
  font-weight: 700;
  color: var(--basic-extra-dark);
}

.popover-basket-empty {
  width: 288px;
  padding: 48px 0;
}

.basket-empty-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-extra-dark);
}

/* Popover login */

.popover-login {
  width: 420px;
  padding-bottom: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form .field-group + .field-group {
  margin-top: 16px;
}

.login-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.login-wrapper .button {
  margin-left: -4px;
}

.login-links-list {
  margin: 0;
  margin-left: 19px;
  padding: 0;
  list-style-type: none;
}

.login-link-item + .login-link-item {
  margin-top: 4px;
}

.login-link {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
  border-bottom: 1px solid var(--basic-extra-dark);
}

.login-link:hover {
  opacity: 0.6;
}

.login-link:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 4px;
  border-radius: 5px;
}

.login-link:active {
  opacity: 0.3;
}

/* Popover search */

.popover-search {
  width: 356px;
  padding: 24px 16px;
}

.search-form {
  position: relative;
  display: grid;
}

.search-form .field {
  padding-right: 38px;
}

.search-form-delete-button {
  position: absolute;
  top: 12px;
  right: 16px;
  padding: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-form-delete-button:focus {
  outline: 2px solid var(--basic-extra-dark);
  border-radius: 5px;
}

.search-form-delete-button .cross-icon {
  display: block;
  fill: var(--basic-neutral);
}

.search-form-delete-button:hover .cross-icon,
.search-form-delete-button:focus .cross-icon {
  fill: var(--basic-extra-dark);
}

/* Popover catalog */

.popover-catalog {
  min-width: 135px;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
}

.catalog-item {
  padding: 5px 16px;
}

.catalog-item-current {
  background-color: var(--special-bright);
}

.catalog-item:not(.catalog-item-current):hover,
.catalog-item:not(.catalog-item-current):focus-within {
  background-color: var(--special-exta-light);
  outline: none;
}

.catalog-item:not(.catalog-item-current):active {
  background-color: var(--special-neutral);
}

.catalog-strong {
  position: relative;
  margin-bottom: 6px;
  padding: 10px 16px;
}

.catalog-strong::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 16px;
  width: 103px;
  height: 1px;
  background-color: var(--basic-neutral);
}

.catalog-link {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
  white-space: nowrap;
  outline: none;
}

.catalog-strong .catalog-link {
  font-weight: 700;
}

.catalog-item-current .catalog-link {
  color: var(--basic-extra-light);
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--basic-extra-dark-03);
}

.modal-container-open {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  box-sizing: border-box;
  background-color: var(--basic-extra-light);
  box-shadow: 0 15px 40px var(--basic-extra-dark-012);
  border-radius: 8px;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.modal-close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close-button:focus {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: 4px;
  border-radius: 5px;
}

.modal-close-button .cross-icon {
  display: block;
  width: 12px;
  height: 12px;
  fill: var(--basic-extra-dark);
}

.modal-close-button:hover .cross-icon,
.modal-close-button:focus .cross-icon {
  fill: var(--basic-dark);
}

/* Modal feedback */

.modal-feedback {
  width: 570px;
}

.modal-feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modal-feedback-form .field-group {
  align-self: stretch;
}

.modal-feedback-form .field-group + .field-group {
  margin-top: 16px;
}

.modal-feedback-form .field-group:last-of-type {
  margin-bottom: 32px;
}

.modal-feedback-form textarea {
  height: 149px;
  box-sizing: border-box;
  resize: none;
}

.modal-feedback-form .button {
  margin-right: -6px;
}
